<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ng-include src="'views/controller-sidebar-nav.html'"></ng-include>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">{{ controller.name }}</h1>

      <p>{{ controller.description }}</p>
      
      <div ng-show="vizualizationData.length != 0">
        <nvd3-line-chart
          data="vizualizationData"
          id="analogChart"
          useInteractiveGuideline="true"
          margin="{left:50,top:0,bottom:115,right:55}"
          x="xFunction()" 
          y="yFunction()"
          width="900"
          height="450"          
          xAxisRotateLabels="65"
          xAxisTickFormat="xAxisTickFormatFunction()"
          yAxisTickFormat="yAxisTickFormatFunction()"
          color="colorFunction()"
          legendColor="colorFunction()"
          showXAxis="true"
          showYAxis="true"
          showLegend="true"
          objectEquality="true">
        </nvd3-line-chart>
      </div>
      
      <div ng-show="showValueType == 'analog' || showValueType == 'all'">
        <div class="sub-header">
          <h2>Analoge Werte</h2>
        </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th class="col-md-1">Name</th>
              <th class="col-md-3">Beschreibung</th>
              <th class="col-md-10">Letzter Messwert</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="ioIdentifier in analogIoIdentifiers" 
                selection-model 
                selection-model-type="checkbox"
                selection-model-mode="multiple-additive" 
                selection-model-selected-class="selected_io_row"
                selection-model-on-change="onAnalogIoIdentifierSelectionChanged(ioIdentifier)">
              <td><input type="checkbox"></td>
              <td>{{ ioIdentifier.name }}</td>
              <td>{{ ioIdentifier.description }}</td>
              <td>{{ latestValues[ioIdentifier.latest_value] | uvrValue:ioIdentifier }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
      <div ng-show="showValueType == 'digital' || showValueType == 'all'">
      <h2 class="sub-header">Digitale Werte</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Beschreibung</th>
              <th>Letzter Zustand</th>
              <th>Drehzahlstufe</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="ioIdentifier in digitalIoIdentifiers">
              <td>{{ ioIdentifier.name }}</td>
              <td>{{ ioIdentifier.description }}</td>
              <td>{{ latestValues[ioIdentifier.latest_value] | uvrValue:ioIdentifier }}</td>
              <td>{{ latestValues[ioIdentifier.latest_value] | uvrSpeed }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
      <div ng-show="showValueType == 'heatMeter' || showValueType == 'all'">
      <h2 class="sub-header">W&auml;rmemengen Werte</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Beschreibung</th>
              <th>Leistung</th>
              <th>W&auml;rmemenge</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="ioIdentifier in heatMeterIoIdentifiers">
              <td>{{ ioIdentifier.name }}</td>
              <td>{{ ioIdentifier.description }}</td>
              <td>{{ latestValues[ioIdentifier.latest_value] | uvrPower }}</td>
              <td>{{ latestValues[ioIdentifier.latest_value] | uvrEnergy }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>
</div>
